
<!doctype html>
<html class="no-js" lang="zxx">

<!-- Mirrored from themepure.net/html/blackwood-prv/blackwood/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Apr 2022 14:18:46 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blackwood - Clean Minimal eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
    <!-- CSS here -->
    <link rel="stylesheet" href="~/assets/css/preloader.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/owl-carousel.css">
    <link rel="stylesheet" href="~/assets/css/ui-range-slider.css">
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="~/assets/css/backtotop.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome-pro.css">
    <link rel="stylesheet" href="~/assets/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/default.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

    <style>
        .about__offer {
            background-image: url('../../assets/img/bg/about-bg-1.jpg');
        }
        .page__title {
            background-image: url('../../assets/img/bg/page-title-1.jpg');
        }
    </style>
</head>
<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- prealoder area start -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="first_object"></div>
                <div class="object" id="second_object"></div>
                <div class="object" id="third_object"></div>
            </div>
        </div>
    </div>
    <!-- prealoder area end -->
    <!-- back to top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top end -->
    <!-- header area start -->
    <header class="d-none d-lg-block">
        <div class="header__area">
            <div class="header__top d-none d-md-block pt-25 pb-25">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 d-none d-xl-block">
                            <div class="header__top-info">
                                <div class="logo">
                                    <a href="index-3.html"><img src="~/assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-8 col-md-6">
                            <div class="header__top-features header__top-features-3">
                                <div class="features__item features__item-2 mr-50">
                                    <div class="features__icon features__icon-2 mr-20">
                                        <i class="flaticon-credit-card"></i>
                                    </div>
                                    <div class="features__content-2">
                                        <h3 class="features__title features__title-3">100% Payments</h3>
                                        <p>Monthly Installment</p>
                                    </div>
                                </div>
                                <div class="features__item features__item-2 features__item-d">
                                    <div class="features__icon features__icon-2 mr-20">
                                        <i class="flaticon-exchange"></i>
                                    </div>
                                    <div class="features__content-2">
                                        <h3 class="features__title features__title-3">14-Day Returns</h3>
                                        <p>Secure Payments</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                            <div class="header__action header__action-2 text-sm-end">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("SignIn", "Account")">
                                            <i class="fal fa-user-circle"></i>

                                        </a>
                                    </li>
                                    <li>
                                        @Html.Action("CartPartial", "Cart")
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__middle header__border grey-bg-3 d-none d-md-block pt-10 pb-10">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                            <div class="header__search-3">
                                @using (Html.BeginForm("resultsSearch", "Shop", FormMethod.Post))
                                {
                                    <div class="header__search-input-2 header__search-input-3">

                                        @Html.TextBox("txtsearchkey", "", htmlAttributes: new { @placeholder = "Search Products.." })
                                        <button type="submit"><i class="far fa-search"></i></button>
                                    </div>
                                }

                          
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                            <div class="header__middle-right header__middle-right-d d-flex align-items-center justify-content-end">
                                <div class="sd-contact">
                                    <span>Customer Service <a href="tel:+0889006690">+088 900 6690</a></span>
                                </div>
                                <div class="header__select header__select-2 d-flex align-items-center">
                                    <div class="header__lang header__select-item header__select-item-3 mr-20">
                                        <div class="country-flag">
                                            <a href="#"><img src="~/assets/img/icon/flag.png" alt=""></a>
                                        </div>
                                        <select>
                                            <option>EN</option>
                                            <option>BN</option>
                                            <option>IN</option>
                                            <option>CH</option>
                                            <option>AM</option>
                                        </select>
                                    </div>
                                    <div class="header__currency header__select-item header__select-item-3">
                                        <select>
                                            <option>$USD</option>
                                            <option>Euro</option>
                                            <option>Yen</option>
                                            <option>Rupee</option>
                                            <option>Sterlin</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__bottom  black-bg d-none d-xl-block">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xxl-12 col-lg-8 col-sm-6 col-4">
                            <div class="main-menu main-menu-3">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li>
                                            @Html.ActionLink("Home", "Index", "Trangchu")

                                        </li>
                                        <li>
                                            @Html.ActionLink("Shop", "Index", "Shop")
                                        </li>
                                        <li>
                                            @Html.ActionLink("About", "Index", "About")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Blogs", "Index", "Blog")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Contact", "Index", "Contact")
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header-bar mb-5 d-xl-none">
                                <button type="button" class="header-bar-btn header-bar-btn-2" data-bs-toggle="modal" data-bs-target="#offCanvasModal">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-8 col-lg-4">
                            <div class="logo-d d-xl-none text-sm-end">
                                <img src="~/assets/img/logo/logo-white.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->
    <!-- mobile-header-area start -->
    <div class="mobile-header-area pt-20 pb-20 d-xl-none">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="mobile-logo">
                        <a href="index-3.html"><img src="~/assets/img/logo/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="header-bar d-xl-none text-end">
                        <button type="button" class="header-bar-btn" data-bs-toggle="modal" data-bs-target="#offCanvasModal">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-header-area end -->
    <!-- cart mini area start -->
    <div class="cartmini__area">
        <div class="modal fade" id="cartMiniModal" tabindex="-1" aria-labelledby="cartMiniModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="cartmini__wrapper">
                        <div class="cartmini__top d-flex align-items-center justify-content-between">
                            <h4>Your Cart</h4>
                            <div class="cartminit__close">
                                <button type="button" data-bs-dismiss="modal" data-bs-target="#cartMiniModal" class="cartmini__close-btn"> <i class="fal fa-times"></i></button>
                            </div>
                        </div>
                        <div class="cartmini__list">
                            <ul>
                                <li class="cartmini__item p-relative d-flex align-items-start">
                                    <div class="cartmini__thumb mr-15">
                                        <a href="product-details.html">
                                            <img src="~/assets/img/products/product-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="cartmini__content">
                                        <h3 class="cartmini__title">
                                            <a href="product-details.html">Form Armchair Walnut Base</a>
                                        </h3>
                                        <span class="cartmini__price">
                                            <span class="price">1 × $70.00</span>
                                        </span>
                                    </div>
                                    <a href="#" class="cartmini__remove">
                                        <i class="fal fa-times"></i>
                                    </a>
                                </li>
                                <li class="cartmini__item p-relative d-flex align-items-start">
                                    <div class="cartmini__thumb mr-15">
                                        <a href="product-details.html">
                                            <img src="~/assets/img/products/product-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="cartmini__content">
                                        <h3 class="cartmini__title">
                                            <a href="product-details.html">Form Armchair Simon Legald</a>
                                        </h3>
                                        <span class="cartmini__price">
                                            <span class="price">1 × $95.99</span>
                                        </span>
                                    </div>
                                    <a href="#" class="cartmini__remove">
                                        <i class="fal fa-times"></i>
                                    </a>
                                </li>
                                <li class="cartmini__item p-relative d-flex align-items-start">
                                    <div class="cartmini__thumb mr-15">
                                        <a href="product-details.html">
                                            <img src="~/assets/img/products/product-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="cartmini__content">
                                        <h3 class="cartmini__title">
                                            <a href="product-details.html">Antique Chinese Armchairs</a>
                                        </h3>
                                        <span class="cartmini__price">
                                            <span class="price">1 × $120.00</span>
                                        </span>
                                    </div>
                                    <a href="#" class="cartmini__remove">
                                        <i class="fal fa-times"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="cartmini__total d-flex align-items-center justify-content-between">
                            <h5>Total</h5>
                            <span>$180.00</span>
                        </div>
                        <div class="cartmini__bottom">
                            <a href="cart.html" class="b-btn w-100 mb-20">view cart</a>
                            <a href="checkout.html" class="b-btn-2 w-100">checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cart mini area end -->
    <div class="body-overlay"></div>
    <!-- cart mini area end -->
    <!-- sidebar area start -->
    <section class="offcanvas__area">
        <div class="modal fade" id="offCanvasModal" tabindex="-1" aria-labelledby="offCanvasModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="offcanvas__wrapper">
                        <div class="offcanvas__top d-flex align-items-center mb-60 justify-content-between">
                            <div class="logo">
                                <a href="index-3.html">
                                    <img src="~/assets/img/logo/logo.png" alt="logo">
                                </a>
                            </div>
                            <div class="offcanvas__close">
                                <button class="offcanvas__close-btn" data-bs-dismiss="modal" data-bs-target="#offCanvasModal">
                                    <svg viewBox="0 0 22 22">
                                        <path d="M12.41,11l5.29-5.29c0.39-0.39,0.39-1.02,0-1.41s-1.02-0.39-1.41,0L11,9.59L5.71,4.29c-0.39-0.39-1.02-0.39-1.41,0
                                            s-0.39,1.02,0,1.41L9.59,11l-5.29,5.29c-0.39,0.39-0.39,1.02,0,1.41C4.49,17.9,4.74,18,5,18s0.51-0.1,0.71-0.29L11,12.41l5.29,5.29
                                            C16.49,17.9,16.74,18,17,18s0.51-0.1,0.71-0.29c0.39-0.39,0.39-1.02,0-1.41L12.41,11z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="sidebar__search mb-25">
                            <form action="#">
                                <input type="text" placeholder="What are you searching for?">
                                <button type="submit"><i class="far fa-search"></i></button>
                            </form>
                        </div>
                        <div class="offcanvas__content p-relative z-index-1">
                            <div class="canvas__menu">
                                <div class="mobile-menu fix"></div>
                            </div>
                            <div class="offcanvas__action mt-40 mb-15">
                                <a href="contact.html">Login</a>
                                <a href="wishlist.html" class="has-tag">
                                    <svg viewBox="0 0 22 22">
                                        <path d="M20.26,11.3c2.31-2.36,2.31-6.18-0.02-8.53C19.11,1.63,17.6,1,16,1c0,0,0,0,0,0c-1.57,0-3.05,0.61-4.18,1.71c0,0,0,0,0,0
                                            L11,3.41l-0.81-0.69c0,0,0,0,0,0C9.06,1.61,7.58,1,6,1C4.4,1,2.89,1.63,1.75,2.77c-2.33,2.35-2.33,6.17-0.02,8.53
                                            c0,0,0,0.01,0.01,0.01l0.01,0.01c0,0,0,0,0,0c0,0,0,0,0,0L11,20.94l9.25-9.62c0,0,0,0,0,0c0,0,0,0,0,0L20.26,11.3
                                            C20.26,11.31,20.26,11.3,20.26,11.3z M3.19,9.92C3.18,9.92,3.18,9.92,3.19,9.92C3.18,9.92,3.18,9.91,3.18,9.91
                                            c-1.57-1.58-1.57-4.15,0-5.73C3.93,3.42,4.93,3,6,3c1.07,0,2.07,0.42,2.83,1.18C8.84,4.19,8.85,4.2,8.86,4.21
                                            c0.01,0.01,0.01,0.02,0.03,0.03l1.46,1.25c0.07,0.06,0.14,0.09,0.22,0.13c0.01,0,0.01,0.01,0.02,0.01c0.13,0.06,0.27,0.1,0.41,0.1
                                            c0.08,0,0.16-0.03,0.25-0.05c0.03-0.01,0.07-0.01,0.1-0.02c0.07-0.03,0.13-0.07,0.2-0.11c0.03-0.02,0.07-0.03,0.1-0.06l1.46-1.24
                                            c0.01-0.01,0.02-0.02,0.03-0.03c0.01-0.01,0.03-0.01,0.04-0.02C13.93,3.42,14.93,3,16,3c0,0,0,0,0,0c1.07,0,2.07,0.42,2.83,1.18
                                            c1.56,1.58,1.56,4.15,0,5.73c0,0,0,0.01-0.01,0.01c0,0,0,0,0,0L11,18.06L3.19,9.92z" />
                                    </svg>
                                    <span class="tag">2</span>
                                </a>
                                <a href="cart.html" class="has-tag">
                                    <i class="far fa-shopping-bag"></i>
                                    <span class="tag">3</span>
                                </a>
                                <div class="header__select header__select-d d-flex align-items-center mt-10">
                                    <div class="header__lang header__select-item mr-15">
                                        <select>
                                            <option>EN</option>
                                            <option>BN</option>
                                            <option>IN</option>
                                            <option>CH</option>
                                            <option>AM</option>
                                        </select><div class="nice-select" tabindex="0"><span class="current">EN</span><ul class="list list-2"><li data-value="EN" class="option selected focus">EN</li><li data-value="BN" class="option">BN</li><li data-value="IN" class="option">IN</li><li data-value="CH" class="option">CH</li><li data-value="AM" class="option">AM</li></ul></div>
                                    </div>
                                    <div class="header__currency header__select-item">
                                        <select>
                                            <option>USD</option>
                                            <option>Euro</option>
                                            <option>Yen</option>
                                            <option>Rupee</option>
                                            <option>Sterlin</option>
                                        </select><div class="nice-select" tabindex="0"><span class="current">USD</span><ul class="list list-2"><li data-value="USD" class="option selected focus">USD</li><li data-value="Euro" class="option">Euro</li><li data-value="Yen" class="option">Yen</li><li data-value="Rupee" class="option">Rupee</li><li data-value="Sterlin" class="option">Sterlin</li></ul></div>
                                    </div>
                                </div>
                            </div>
                            <div class="offcanvas__social mt-15">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- sidebar area end -->

    <main>
        <!-- page__title-start -->
        <section class="page__title p-relative d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page__title-inner text-center">
                            <h1>About Us</h1>
                            <div class="page__title-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a href="index-3.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page__title-end -->
        <!-- about__history-start -->
        <section class="about__history pt-95 pb-75">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-8 col-xl-10">
                        <div class="about__history-wrapper">
                            <div class="about__history-title-area">
                                <span class="about__history-title-pre">Our History</span>
                                <h3 class="about__history-title">
                                    <span>Hello, We are Black.</span> <br>
                                    With 20+ Years of Experience
                                </h3>
                            </div>
                            <p class="about__history-text">It is accompanied by a case that can contain up to three different diffusers and can be used for dry storage of loose tea. The perfect way to enjoy brewing tea on low hanging fruit to identify. Lighting is a minimal residence located in Tokyo, Japan, designed by AYO. Large tiles were arranged on the counter top plate near the window.</p>

                            <p>The perfect way to enjoy brewing tea on low hanging fruit to identify. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. For me, the most important part of improving at photography has been sharing it. Sign up for an Exposure account, or post regularly to Tumblr, or both. Tell people you’re trying to get better at photography. Talk about it. When you talk about it, other people get excited about it. There are few plugins and apps available for this purpose, many of them required a monthly subscription.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about__history-end -->
        <!-- about__gallery-start -->
        <section class="about__gallery">
            <div class="container">
                <div class="row gx-2">
                    <div class="col-xxl-8 col-xl-8 col-lg-8">
                        <div class="about__gallery-wrapper text-center ">
                            <div class="about__gallery-review include-bg mb-8" data-background="~/assets/img/about/about-img-1.jpg" style="background-image: url(_assets/img/about/about-img-1.html);">
                                <h3>Alex Christopher</h3>
                                <span>PHOTOGRAPHER</span>
                                <p>Being a designer goes a step further than trying to evoke emotion, it’s trying to make a reaction. It is objective-driven, and that’s what makes it interesting. Designing a product is designing a relationship. Graphic design is the paradise of individuality, eccentricity, heresy, abnormality, hobbies, and humor.</p>

                                <img src="~/assets/img/about/singature.png" alt="" class="about__signature">
                            </div>
                            <div class="row gx-2">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="about__gallery-thumb w-img mb-10">
                                        <img src="~/assets/img/about/about-img-3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="about__gallery-thumb w-img mb-10">
                                        <img src="~/assets/img/about/about-img-4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-4">
                        <div class="about__gallery-thumb mb-8 w-img">
                            <img src="~/assets/img/about/about-img-2.jpg" alt="">
                        </div>
                        <div class="about__gallery-thumb w-img">
                            <img src="~/assets/img/about/about-img-5.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about__gallery-end -->
        <!-- features__area start -->
        <section class="features-2__area mt-90 pb-85">
            <div class="container">
                <div class="row gx-0">
                    <div class="col-xxl-4 offset-xxl-2 col-xl-5 offset-xl-1 col-lg-5 offset-lg-1 col-md-6">
                        <div class="features-2__item-2 features-2__item-pb-40 features-2__item-br features-2__item-bb text-center">
                            <div class="features-2__icon-2">
                                <img src="~/assets/img/icon/trophy.png" alt="">
                            </div>
                            <div class="features-2__content-2">
                                <h3 class="features-2__title-2">20+ Years of Experience</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6">
                        <div class="features-2__item-2 features-2__item-pb-40 features-2__item-bb text-center">
                            <div class="features-2__icon-2">
                                <img src="~/assets/img/icon/user.png" alt="">
                            </div>
                            <div class="features-2__content-2">
                                <h3 class="features-2__title-2">20+ Years of Experience</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 offset-xxl-2  col-xl-5 offset-xl-1 col-lg-5 offset-lg-1 col-md-6">
                        <div class="features-2__item-2 features-2__item-pt-65 features-2__item-br text-center">
                            <div class="features-2__icon-2">
                                <img src="~/assets/img/icon/like.png" alt="">
                            </div>
                            <div class="features-2__content-2">
                                <h3 class="features-2__title-2">20+ Years of Experience</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-xl-5  col-lg-5  col-md-6">
                        <div class="features-2__item-2 features-2__item-pt-65 text-center">
                            <div class="features-2__icon-2">
                                <img src="~/assets/img/icon/pen.png" alt="">
                            </div>
                            <div class="features-2__content-2">
                                <h3 class="features-2__title-2">20+ Years of Experience</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- features__area end -->
        <!-- about__offer start -->
        <section class="about__offer pt-155 pb-130 include-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-8 col-xl-8 col-lg-10">
                        <div class="about__offer-content text-center">
                            <div class="about__offer-icon mb-20">
                                <img src="~/assets/img/icon/ship.png" alt="">
                            </div>
                            <h3>All Orders Are Free Shipping</h3>
                            <p>Donec vehicula cursus vestibulum lectus, sit eros integer varius cum turpis et quam congue <br> accumsan ac bibendum ac in erat. Donec posuere consectetuer volutpat rutrum ac sollicitudin quam quisque at interdum dignissim fringilla elit risus lorem condimentum eros mollis. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about__offer end -->
        <!-- team-area start -->
        <div class="team-area pt-95 pb-65">
            <div class="container">
                <div class="row mb-10">
                    <div class="col-12">
                        <div class="sec-wrapper text-center">
                            <h5>Our Team</h5>
                            <h2 class="absection-title">Expert Members.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="tpteam text-center mb-30">
                            <div class="tpteam__img">
                                <img src="~/assets/img/team/team-member-1.jpg" alt="">
                                <div class="tpteam__social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fab fa-pinterest"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="tpteam__text">
                                <h3 class="tpteam-title"><a href="about.html">Iqbal Hossain</a></h3>
                                <h5>Designer</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="tpteam text-center mb-30">
                            <div class="tpteam__img">
                                <img src="~/assets/img/team/team-member-2.jpg" alt="">
                                <div class="tpteam__social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fab fa-pinterest"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="tpteam__text">
                                <h3 class="tpteam-title"><a href="about.html">Hilixa Maria</a></h3>
                                <h5>Designer</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="tpteam text-center mb-30">
                            <div class="tpteam__img">
                                <img src="~/assets/img/team/team-member-3.jpg" alt="">
                                <div class="tpteam__social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fab fa-pinterest"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="tpteam__text">
                                <h3 class="tpteam-title"><a href="about.html">Willamson Hilai</a></h3>
                                <h5>Developer</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="tpteam text-center mb-30">
                            <div class="tpteam__img">
                                <img src="~/assets/img/team/team-member-4.jpg" alt="">
                                <div class="tpteam__social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fab fa-pinterest"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="tpteam__text">
                                <h3 class="tpteam-title"><a href="about.html">Limonda Pwedie</a></h3>
                                <h5>UX Designer</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- team-area end -->
        <!-- shop modal start -->
        <div class="modal fade" id="productModalId" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered product__modal" role="document">
                <div class="modal-content">
                    <div class="product__modal-wrapper p-relative">
                        <div class="product__modal-close p-absolute">
                            <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                        </div>
                        <div class="product__modal-inner">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="product__modal-box">
                                        <div class="tab-content" id="modalTabContent">
                                            <div class="tab-pane fade show active" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                                                <div class="product__modal-img w-img">
                                                    <img src="~/assets/img/products/quick-view/quick-view-1.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav2" role="tabpanel" aria-labelledby="nav2-tab">
                                                <div class="product__modal-img w-img">
                                                    <img src="~/assets/img/products/quick-view/quick-view-2.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav3" role="tabpanel" aria-labelledby="nav3-tab">
                                                <div class="product__modal-img w-img">
                                                    <img src="~/assets/img/products/quick-view/quick-view-3.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav4" role="tabpanel" aria-labelledby="nav4-tab">
                                                <div class="product__modal-img w-img">
                                                    <img src="~/assets/img/products/quick-view/quick-view-4.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="nav1-tab" data-bs-toggle="tab" data-bs-target="#nav1" type="button" role="tab" aria-controls="nav1" aria-selected="true">
                                                    <img src="~/assets/img/products/quick-view/nav/quick-nav-1.jpg" alt="">
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="nav2-tab" data-bs-toggle="tab" data-bs-target="#nav2" type="button" role="tab" aria-controls="nav2" aria-selected="false">
                                                    <img src="~/assets/img/products/quick-view/nav/quick-nav-2.jpg" alt="">
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="nav3-tab" data-bs-toggle="tab" data-bs-target="#nav3" type="button" role="tab" aria-controls="nav3" aria-selected="false">
                                                    <img src="~/assets/img/products/quick-view/nav/quick-nav-3.jpg" alt="">
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="nav4-tab" data-bs-toggle="tab" data-bs-target="#nav4" type="button" role="tab" aria-controls="nav4" aria-selected="false">
                                                    <img src="~/assets/img/products/quick-view/nav/quick-nav-4.jpg" alt="">
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="product__modal-content">
                                        <h4 class="product__modal-title"><a href="product-details.html">Samsung C49J89: £875, Debenhams Plus</a></h4>
                                        <div class="product__modal-des mb-40">
                                            <p>Typi non habent claritatem insitam, est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt </p>
                                        </div>
                                        <div class="product__modal-stock">
                                            <span>Availability :</span>
                                            <span>In Stock</span>
                                        </div>
                                        <div class="product__modal-stock sku mb-30">
                                            <span>SKU:</span>
                                            <span>Samsung C49J89: £875, Debenhams Plus</span>
                                        </div>
                                        <div class="product__modal-review d-sm-flex">
                                            <div class="rating mb-15 mr-35">
                                                <ul>
                                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="product__modal-add-review mb-15">
                                                <span><a href="#">1 Review</a></span>
                                                <span><a href="#">Add Review</a></span>
                                            </div>
                                        </div>
                                        <div class="product__modal-price">
                                            <span>$560.00</span>
                                        </div>
                                        <div class="product__modal-form mb-30">
                                            <form action="#">
                                                <div class="pro-quan-area d-lg-flex align-items-center">
                                                    <div class="product-quantity mr-20 mb-25">
                                                        <div class="cart-plus-minus p-relative"><input type="text" value="1" /></div>
                                                    </div>
                                                    <div class="pro-cart-btn mb-25">
                                                        <button class="add-to-cart-btn" type="submit">Add to cart</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="product__modal-links">
                                            <ul>
                                                <li><a href="#" title="Add to Wishlist"><i class="fal fa-heart"></i></a></li>
                                                <li><a href="#" title="Compare"><i class="far fa-sliders-h"></i></a></li>
                                                <li><a href="#" title="Print"><i class="fal fa-print"></i></a></li>
                                                <li><a href="#" title="Print"><i class="fal fa-share-alt"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- shop modal end -->

    </main>
    @RenderBody()
    <!-- footer area start -->
    <footer>
        <div class="footer__area footer-bg">
            <div class="footer__top footer__top-space pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
                            <div class="footer__widget pb-30">
                                <h3 class="footer__widget-title footer__widget-title-3">Need help</h3>
                                <div class="footer__widget-content">
                                    <div class="footer__contact">
                                        <h3 class="footer__contact-phone"><a href="tel:1234-5678-90">(+80) 1234 5678 90</a></h3>
                                        <div class="footer__opening mb-15">
                                            <p>Monday - Friday: 9:00-20:00</p>
                                            <p>Saturady: 11:00 - 15:00</p>
                                        </div>
                                        <div class="footer__contact-email footer__contact-email-2">
                                            <p><a href="https://themepure.net/cdn-cgi/l/email-protection#1173707d727a667e7e7551626461617e63653f727e7c"><span class="__cf_email__" data-cfemail="2c4e4d404f475b4343486c5f595c5c435e58024f4341">[email&#160;protected]</span></a></p>
                                        </div>
                                        <div class="footer__social footer__social-3">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-youtube"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-pinterest"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="footer__widget footer-col-3 pb-30">
                                <h3 class="footer__widget-title footer__widget-title-3">Useful Links</h3>
                                <div class="footer__widget-content">
                                    <div class="footer__links footer__links-2">
                                        <ul>
                                            <li>
                                                <a href="contact.html">Privacy Policy</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Returns</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Terms & Conditions</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Contact Us</a>
                                            </li>
                                            <li>
                                                <a href="blog-details.html">Latest News</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Our Sitemap</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="footer__widget footer-col-4 pb-30">
                                <h3 class="footer__widget-title footer__widget-title-3">Our Stores</h3>
                                <div class="footer__widget-content">
                                    <div class="footer__links footer__links-2">
                                        <ul>
                                            <li>
                                                <a href="about.html">New York</a>
                                            </li>
                                            <li>
                                                <a href="about.html">London SF</a>
                                            </li>
                                            <li>
                                                <a href="about.html">Cockfosters BP</a>
                                            </li>
                                            <li>
                                                <a href="#">Los Angeles</a>
                                            </li>
                                            <li>
                                                <a href="about.html">Chicago</a>
                                            </li>
                                            <li>
                                                <a href="about.html">Las Vegas</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="footer__widget footer-col-5 pb-30">
                                <h3 class="footer__widget-title footer__widget-title-3">My Account</h3>
                                <div class="footer__widget-content">
                                    <div class="footer__links footer__links-2">
                                        <ul>
                                            <li>
                                                <a href="contact.html">My Account</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Order History</a>
                                            </li>
                                            <li>
                                                <a href="wishlist.html">Wish List</a>
                                            </li>
                                            <li>
                                                <a href="contact.htmcontact.html">Newsletter</a>
                                            </li>
                                            <li><a href="contact.html">Shipping & Returns</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="footer__widget footer-col-5 pb-30">
                                <h3 class="footer__widget-title footer__widget-title-3">Customer Service</h3>
                                <div class="footer__widget-content">
                                    <div class="footer__links footer__links-2">
                                        <ul>
                                            <li>
                                                <a href="contact.html">Search Terms</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Advanced Search</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Help & FAQs</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Furniture Expert</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Our Sitemap</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Find A Store</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__offer">
                <div class="container">
                    <div class="footer__offer-inner footer__offer-inner-2">
                        <div class="row align-items-center">
                            <div class="col-xxl-6 col-lg-6 col-md-6">
                                <div class="footer__subscribe footer__subscribe-3">
                                    <p>Sign up for our Newsletter</p>
                                    <form action="#">
                                        <div class="footer__subscribe-input">
                                            <input type="email" placeholder="Enter Email ID ...">
                                            <button type="submit"><i class="fab fa-telegram-plane"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-lg-6 col-md-6">
                                <div class="payment-image-2 text-md-end">
                                    <a href="#"><img src="~/assets/img/payment/payment-2.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="footer__bottom-wrapper text-center">
                                <div class="footer__bottom-links">
                                    <ul>
                                        <li>
                                            <a href="about.html">About Us</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Delivery Information</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Terms & Conditions</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Site Map</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer__copyright">
                                    <p>Copyright ©2022 <a href="index-3.html">Blackwood.com.</a> All Rights Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->
    <!-- JS here -->
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/vendor/jquery.js"></script>
    <script src="~/assets/js/vendor/waypoints.js"></script>
    <script src="~/assets/js/bootstrap-bundle.js"></script>
    <script src="~/assets/js/meanmenu.js"></script>
    <script src="~/assets/js/swiper-bundle.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/jquery-ui-slider-range.js"></script>
    <script src="~/assets/js/magnific-popup.js"></script>
    <script src="~/assets/js/parallax.js"></script>
    <script src="~/assets/js/backtotop.js"></script>
    <script src="~/assets/js/nice-select.js"></script>
    <script src="~/assets/js/counterup.js"></script>
    <script src="~/assets/js/countdown.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/isotope-pkgd.js"></script>
    <script src="~/assets/js/imagesloaded-pkgd.js"></script>
    <script src="~/assets/js/ajax-form.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>

<!-- Mirrored from themepure.net/html/blackwood-prv/blackwood/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Apr 2022 14:18:50 GMT -->
</html>
