@model PagedList.IPagedList<blackWood.Models.TaiKhoan>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}
<style>
    .pagination {
        justify-content: center;
        margin-top: 20px;
    }

        .pagination li {
            width: 30px;
            height: 30px;
            border: 2px solid #333;
            border-radius: 50%;
            margin: 0 5px;
            position: relative;
        }

        .pagination .active {
            background-color: #333;
            color: #fff;
            border: 1px solid #fff;
        }

        .pagination li a {
            font-size: 15px;
            color: #333;
            position: absolute;
            padding: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

    .btnSearch {
        background: #fff;
        border: none;
    }

    .button-right {
        float: right;
        padding: 10px;
    }

        .button-right a {
            text-decoration: none;
            color: white;
        }

    .searchSP {
        height: 35px;
        position: relative;
        padding: 0 35px 0 0;
        border: 1px solid #9bd6fe;
        border-radius: 25rem;
        background: #fff;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

        .searchSP .inputsearch {
            width: 100%;
            padding: 5px 10px;
            border: none;
            background: none;
            transition: all .5s ease-in-out;
        }

            .searchSP .inputsearch:focus, .searchSP button:focus {
                outline: 0;
            }

        .searchSP button {
            display: block;
            position: absolute;
            right: 0;
            top: -2px;
            width: 35px;
            height: 100%;
            text-align: center;
            border: none !important;
            background: none !important;
        }
</style>
<div id="content" class="bg-container">
    <header class="head">
        <div class="main-bar">
            <div class="row no-gutters">
                <div class="col-lg-6 col-sm-4">
                    <h4 class="nav_top_align">
                        <i class="fa fa-user"></i>
                        Thông tin người dùng
                    </h4>
                </div>
                <div class="col-lg-6 col-sm-8 col-12">
                    <ol class="breadcrumb float-right  nav_breadcrumb_top_align">
                        <li class="breadcrumb-item">
                            <a href="index1.html">
                                <i class="fa fa-home" data-pack="default" data-tags=""></i> Trang chủ
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Người dùng</a>
                        </li>
                        <li class="active breadcrumb-item">Thông tin người dùng</li>
                    </ol>
                </div>
            </div>
        </div>
    </header>
    <div class="outer">
        <div class="inner bg-container">
            <div class="card">

                <div class="card-body mt-1" id="user_body">
                    <div class="table-toolbar d-flex justify-content-between mb-3 align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-dark mb-3"> @Html.ActionLink("Thêm người dùng", "ThemND", null, new { @class = "text-light" }) <i class="fa fa-plus text-light"></i></button>
                        </div>
                        <div class="d-flex searchSP">
                            @using (Html.BeginForm("SearchNDAdmin", "NguoidungAd", FormMethod.Post))
                            {
                                @Html.TextBox("txtsearchnd", "", htmlAttributes: new { @placeholder = "Search Products..", @class = "inputsearch" })
                                <button type="submit">
                                    <span class="font-icon-search"></span>
                                </button>


                            }
                        </div>

                    </div>
                    <div>
                        <div>
                            <table class="table  table-striped table-bordered table-hover dataTable no-footer" id="editable_table" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc wid-20" tabindex="0" rowspan="1" colspan="1">Tài khoản</th>

                                        <th class="sorting wid-25" tabindex="0" rowspan="1" colspan="1">Mật khẩu</th>
                                        <th class="sorting wid-25" tabindex="0" rowspan="1" colspan="1">Tên người dùng</th>
                                        <th class="sorting wid-10" tabindex="0" rowspan="1" colspan="1">Quyền truy cập</th>
                                        <th class="sorting wid-20" tabindex="0" rowspan="1" colspan="1">Trạng thái</th>
                                        <th class="sorting wid-10" tabindex="0" rowspan="1" colspan="1">Email</th>
                                        <th class="sorting wid-10" tabindex="0" rowspan="1" colspan="1">Active</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="even">

                                            <td>@Html.DisplayFor(modelItem => item.TaiKhoan1)</td>
                                            <td>@Html.DisplayFor(modelItem => item.MatKhau)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TenNguoiDung)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Quyen)</td>
                                            <td class="center">@Html.DisplayFor(modelItem => item.Status)</td>
                                            <td class="center">@Html.DisplayFor(modelItem => item.Email)</td>
                                            <td>

                                                @Html.ActionLink(" ", "SuaND", new { @TaiKhoan1 = item.TaiKhoan1 }, new { @class = "fa fa-pencil text-warning" })&nbsp; &nbsp;
                                                @Html.ActionLink(" ", "XoaND", new { @TaiKhoan1 = item.TaiKhoan1 }, new { @class = "fa fa-trash text-danger" })

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="w3-center w3-padding-32">
                                <div class="w3-bar mr-5 ml-5">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="search_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <form>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="float-right" aria-hidden="true">&times;</span>
                    </button>
                    <div class="input-group search_bar_small">
                        <input type="text" class="form-control" placeholder="Search..." name="search">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
