
@using blackWood.Models;
@model blackWood.Models.TaiKhoan
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_LayoutPageSignIn.cshtml";
}

@using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
{
    <section class="signin__area po-rel-z1 pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                    <div class="sign__wrapper white-bg">
                        <div class="sign__header mb-35">
                            <div class="sign__in text-center">
                                <a href="#" class="sign__social text-start mb-15"><i class="fab fa-facebook-f"></i>Sign in with Facebook</a>
                                <p> <span>........</span> Or, <a href="sign-in.html">sign in</a> with your email<span> ........</span> </p>
                            </div>
                        </div>
                        <div class="sign__form">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <form action="#">
                                <div class="sign__input-wrapper mb-25">
                                    <h5>Tên tài khoản: </h5>
                                    <div class="sign__input">
                                        @Html.TextBoxFor(a => a.TaiKhoan1, htmlAttributes: new { @class = "form-control" })
                                        <i class="far fa-user"></i>

                                    </div>
                                    @Html.ValidationMessageFor(a => a.TaiKhoan1)
                                </div>
                                <div class="sign__input-wrapper mb-10">
                                    <h5>Mật khẩu: </h5>
                                    <div class="sign__input">
                                        @Html.PasswordFor(a => a.MatKhau, htmlAttributes: new { @class = "form-control" })
                                        <i class="fal fa-lock"></i>

                                    </div>
                                    @Html.ValidationMessageFor(a => a.MatKhau)
                                </div>

                                <button type="submit" class="btn-tp w-100 mt-10"> <span></span> Sign In</button>
                                <div class="sign__new text-center mt-20">
                                    <p>New to Markit? @Html.ActionLink("Sign Up", "SignUp")</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}